<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>awesome node app</title>
</head>

<body>
    <h1>
        This is a Node app
    </h1>
    <p>
        made by <%=arg1%>
    </p>
    <a href="https://youtu.be/dQw4w9WgXcQ">
        if you are running this app in a container you deserve to open this
        hyperlink
    </a>
</body>

</html>